/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* css variables  */

:root {
    --primary-font: "Rubik", sans-serif;
    --secondary-font: "Space mono", serif;
    --brand-font: "Silkscreen", serif;
    --text-color-main: #27091D; /*deep purple for text*/
    --text-color-alt: #7CBBA6;
    --primary-color: #83E3C3;
    --secondary-color: #386C5B;
    --pop-color:#83105F;
    --highlight-color: #C7920B;
}

/* general styles */

body {
    min-height: 100vh;
    color: var(--text-color-main);
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}


#navbar * {
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    color: var(--text-color-alt);
}

#hero {
    max-width: 500px;
}

#welcome {
    height: 600px;
    width: 100%;
    background-image: url(../images/vonecia-carswell-0aMMMUjiiEQ-unsplash.webp) no-repeat center center/cover;
    background-color: var(--secondary-color);
    position: relative;

}