/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* css variables  */

:root {
    --primary-font: "Rubik", sans-serif;
    --secondary-font: "Space mono", serif;
    --brand-font: "Silkscreen", serif;
    --text-color-main: #1D201F;
    --text-color-alt: #ffffff;
    --primary-color: #EAD2AC;
    --secondary-color: #4381C1;
    --pop-color:#240115;
    --highlight-color: #DE6B48;
    --dark-header-color: #1D201F;
    --overlay-color:  rgba(197, 136, 130, 0.7);
    --overlay-color-soft: rgba(223, 146, 142, 0.2);
}

/* general styles */

body {
    min-height: 100vh;
    color: var(--text-color-main);
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-header-color);
    font-family: var(--secondary-font);
    color: var(--text-color-alt);
    width: 100%;
    position: fixed;
    z-index: 99;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: var(--dark-header-color);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    margin-right: 5px;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 45px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

 /* key concepts  */



 #key-concepts>a {
    margin: 5px;
    padding: 5px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    max-width: 600px;
    color: black;
 }


.info {
    /* background-color: var(--overlay-color); */
    padding: 5px;
    margin: 5px;
}


 /* tips  */

 .carousel-caption {
    color: var(--text-color-main);
    background-color: var(--overlay-color-soft);
 }

 .tip-card {
    border: 1px;
    border-color: var(--text-color-main);
    border-radius: 5%;
 }


/* header section  */

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    
}

#menu>li {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

#logo-box {
    display: flex;
}

#logo-image {
    max-width: 35px;
    max-height: 35px;
    margin: 5px;
}

#logo-text {
    font-family: var(--brand-font);
    display: flex;
    font-size: small;
    margin-top: 6px;
}

#hero {
    max-width: 500px;
}

#welcome {
    height: 600px;
    width: 100%;
    background: url(../images/hero.webp) no-repeat center center/cover;
    background-color: var(--secondary-color);
    position: relative;

}

#hero-text {
        background-color:var(--overlay-color);
        position: absolute;
        bottom: 30px;
        width: 80%;
        height: 90%;
        min-height: 200px;
        padding-top: 20px;
        padding-left: 10px;
}

#hero-text h1 {
    font-family: var(--brand-font);
    color: var(--pop-color);
    font-size: 1.3rem;
    text-transform: uppercase;
}

#hero-text p {
    font-family: var(--secondary-font);
    font-size: 1rem;
    padding: 3px;
}

/* Footer */

footer {
    background-color: var(--pop-color);
    display: flex;
    justify-content: space-between;
}

#contact {
    display: flex;
    padding: 10px;
    margin-left: 6px;
    flex-direction: column;
    color: var(--text-color-alt);
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#social-networks li {
    margin: 5px;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: var(--text-color-alt);
}

#social-networks i:hover, i:active {
    color: var(--highlight-color);
}


  /* media queries  */

  @media only screen and (min-width: 768px) {

           /* Header */
        nav {
            display: block;
            position: relative;
            box-shadow: none;
            width: fit-content;
            padding-right: 1rem;
            max-height: 100px;
        }

        #header {
            max-height: 100px;
        }
    
        #menu {
            display: flex;
        }
    
        #menu>li {
            padding-left: 1rem;
        }
    
        .nav-toggle-label {
            display: none;
        }

        #logo-box {
            display: flex;
        }
        
        #logo-image {
            max-width: 80px;
            max-height: 80px;
            margin: 15px;
        }
        
        #logo-text {
            font-family: var(--brand-font);
            display: flex;
            font-size: 160%;
            margin-top: 16px;
        }

        /* Main content */
        main {
            flex: 1 0 auto;
            margin-top: 90px;
            display: flex;
            flex-direction: column;
        }

        #key-tips {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .info {
            max-width: 600px;
        }

        #about .btn {
            width: 300px;
        }
  }