/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* css variables  */

:root {
    --primary-font: "Rubik", sans-serif;
    --secondary-font: "Space mono", serif;
    --brand-font: "Silkscreen", serif;
    --text-color-main: #27091D; /*deep purple for text*/
    --text-color-alt: #7CBBA6;
    --primary-color: #83E3C3;
    --secondary-color: #386C5B;
    --pop-color:#83105F;
    --highlight-color: #C7920B;
    --overlay-color:  rgba(199, 107, 241, 0.7);
}

/* general styles */

body {
    min-height: 100vh;
    color: var(--text-color-main);
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

/* Header */
header {

}

header a {
    text-decoration: none;
    color: inherit;
}


#navbar {
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    color: var(--text-color-alt);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    top: 100%;
}

#logo {
    max-width: 32px;
}

#logo-text {
    font-family: var(--brand-font);
}

#hero {
    max-width: 500px;
}

#welcome {
    height: 600px;
    width: 100%;
    background: url(../images/hero.webp) no-repeat center center/cover;
    background-color: var(--secondary-color);
    position: relative;

}

.overlay {
        /* Final rgba value sets the opacity so it is semi-transparent */
        background-color:var(--overlay-color);
        font-size: 130%;
        position: absolute;
        bottom: 30px;
        width: 80%;
        min-height: 200px;
        padding-top: 40px;
        padding-left: 10px;
 
    
}